// colours
$blue: #0a91e0;
$lightBlue: #50bdfd;
$darkBlue: #0a5ce0;
$yellow: #d7da19;
$green: #48da17;

$white: #fff;
$black: #000;
$bgColorA: #ccc;
$bgColorB: #7d7d7d;
$colorText: #333;

// dimensions
$layoutMaxWidth: 1440px;
$vr: 8px; // vertical rhythm
$ggw: 24px; // grid gutter width
$colWidth: 98px;
$cols: 12;
$layoutWidth: ($colWidth * $cols) + ($ggw * $cols);
$layoutWidthInner: $layoutWidth + $ggw;

// typography
$sansSerif: 'Roboto', sans-serif;
$serif: 'Georgia Pro', Georgia, Times, serif;
$mono: 'Anonymous Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas,
  'Lucida Console', Courier, monospace;
$fontBase: $sansSerif;

// Font Sizing
$fontReg: 16px;
$fontSmall: 14px;

$fontWeightBlack: 900;
$fontWeightXbold: 800;
$fontWeightBold: 700;
$fontWeightSemibold: 600;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightLight: 300;
$fontWeightThin: 200;
$fontWeightUltraThin: 100;

// Media Query Break Points (px & em)
$bpaPX: 320px;
$bpaEM: 320 / 16;

$bpbPX: 480px;
$bpbEM: 480 / 16;

$bpcPX: 660px;
$bpcEM: 660 / 16;

$bpdPX: 768px;
$bpdEM: 768 / 16;

$bpePX: 1024px;
$bpeEM: 1024 / 16;

$bpfPX: 1220px;
$bpfEM: 1220 / 16;

$bpgPX: 1480px;
$bpgEM: 1480 / 16;

$bpgPX: 1920px;
$bphEM: 1920 / 16;

$bplayoutPX: 1490px;
$bplayoutEM: 1490 / 16;
