@import '../../styles/_00-settings/variables.scss';

.title {
  margin-bottom: $vr;
}

.img-fig {
  img {
    width: 100%;
  }
}

.icon {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
}
