html {
  font-family: sans-serif;
  background-color: $bgColorA;
  color: $colorText;

  @media (min-width: #{$bpcEM}em) {
    background-color: $bgColorB;
  }

  * {
    box-sizing: border-box;
  }
}

.body {
  min-height: 100vh;
}

main {
  width: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
