/* stylelint-disable */

.layout {
  &.layout--a {
    max-width: $layoutMaxWidth;
    margin: 0 $ggw;

    @media (min-width: #{$bplayoutEM}em) {
      margin: 0 auto;
    }
  }
}

.layout__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: #{$bpdEM}em) {
    @include fluidWidth($layoutWidthInner, $layoutMaxWidth);
  }
}

.block {
  width: 100%;
  margin-bottom: $vr;

  @media (min-width: #{$bpdEM}em) {
    @include fluidMarginRight($ggw, $layoutWidthInner);
  }
}

.block--full {
  @media (min-width: #{$bpdEM}em) {
    @include blockWidth(12);
  }
}

.block--half {
  @media (min-width: #{$bpdEM}em) {
    @include blockWidth(6);
  }
}

.block--quarter {
  @media (min-width: #{$bpdEM}em) {
    @include blockWidth(3);
  }
}

.block--single {
  @media (min-width: #{$bpdEM}em) {
    @include blockWidth(1);
  }
}
